/* Colours */
/* Fonts */
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: "Rockwell W01", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 8px;
  font-weight: 300;
  text-transform: uppercase; }

p {
  font-family: "Open Sans", Arial, Helvetica, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 300; }

.home-container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 16px; }
  .home-container header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0055a5;
    height: 600px;
    max-height: 600px;
    grid-column: 1/13;
    text-align: center; }
    .home-container header.home {
      background: url("../img/white-border-bottom.png") bottom left no-repeat, url("../img/home-page-banner.jpg") top center no-repeat;
      background-size: 100%, cover; }
    .home-container header.about {
      background: url("../img/white-border-bottom.png") bottom left no-repeat, url("../img/about-page-banner.jpg") top center no-repeat;
      background-size: 100%, cover; }
    .home-container header.marketing {
      background: url("../img/white-border-bottom.png") bottom left no-repeat, url("../img/marketing-page-banner.jpg") top center no-repeat;
      background-size: 100%, cover; }
    .home-container header.crime {
      background: url("../img/white-border-bottom.png") bottom left no-repeat, url("../img/crime-page-banner.jpg") top center no-repeat;
      background-size: 100%, cover; }
    .home-container header.operations {
      background: url("../img/white-border-bottom.png") bottom left no-repeat, url("../img/phone-page-banner.jpg") top center no-repeat;
      background-size: 100%, cover; }
    .home-container header h1, .home-container header p {
      color: #FFF;
      width: 50%;
      margin: 8px auto; }
    .home-container header p {
      line-height: 1.75;
      font-size: 15px; }
    .home-container header nav {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 16px;
      grid-column: 2 / span 12;
      align-items: center;
      top: 32px;
      position: absolute; }
      .home-container header nav .logo {
        width: 200px;
        height: auto;
        grid-column: 2/4; }
      .home-container header nav #mobile-primary-menu {
        display: none; }
      .home-container header nav .mobile-menu-icon {
        display: none; }
      .home-container header nav ul#menu-primary-menu {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        grid-column: 4/12; }
        .home-container header nav ul#menu-primary-menu li {
          width: auto;
          margin: 0px 16px;
          text-align: right; }
        .home-container header nav ul#menu-primary-menu li:last-child {
          margin: 0px 0px 0px 16px; }
        .home-container header nav ul#menu-primary-menu li a {
          color: #FFF;
          font-family: "Open Sans", Arial, Helvetica, Geneva, sans-serif;
          font-size: 14px;
          font-weight: normal;
          text-transform: uppercase;
          text-decoration: none;
          transition: all 0.25s ease-in-out; }
          .home-container header nav ul#menu-primary-menu li a:hover {
            color: #cccccc;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

.story-intro {
  grid-column: 1/13;
  padding-top: 0px; }
  .story-intro p {
    font-family: "Open Sans", Arial, Helvetica, Geneva, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.25;
    color: #000;
    text-align: center;
    width: 70%;
    margin: 16px auto; }
  .story-intro p:first-of-type {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #6a6a6a; }
  .story-intro p:last-of-type {
    margin-bottom: 24px; }

.story-container {
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0px;
  padding: 32px 0px; }
  .story-container.operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .story-container.operations .story {
      width: 33%;
      border-right: none; }
  .story-container.about {
    grid-template-columns: repeat(2, 50%); }
    .story-container.about .story {
      display: grid;
      width: 100%;
      border-right: none;
      grid-column: 1/4; }
      .story-container.about .story .feature {
        grid-column: 1; }
        .story-container.about .story .feature img {
          width: 100%;
          height: auto;
          max-width: 400px; }
      .story-container.about .story article {
        width: auto;
        grid-column: 2; }
      .story-container.about .story:hover > .feature img {
        animation: none; }
  .story-container .story {
    text-align: center;
    border-right: 1px dashed #cccccc;
    background: #FFF;
    transition: background 0.25s ease-in;
    width: 100%; }
    .story-container .story .feature {
      order: 1;
      padding: 16px 0px; }
    .story-container .story .feature img {
      width: 100px;
      height: auto; }
    .story-container .story article {
      order: 2;
      margin: 0px auto;
      grid-column: 7/12;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 16px 24px; }
      .story-container .story article h1 {
        color: #6a6a6a;
        font-size: 21px;
        line-height: 1;
        padding-bottom: 8px; }
        .story-container .story article h1 a {
          color: #0055a5;
          text-decoration: none; }
      .story-container .story article p {
        line-height: 1.5;
        font-size: 12px;
        font-weight: 400; }
    .story-container .story:nth-child(4) {
      border-right: none; }
    .story-container .story:hover > .feature img {
      animation: pulse 2s ease-in-out infinite; }

footer {
  width: 100%;
  max-height: 100px;
  background: #0055a5;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;
  padding: 8px 0px;
  grid-column: 1/13;
  align-items: center; }
  footer p {
    color: #FFF;
    font-size: .75em;
    line-height: 1.5; }
  footer .copyright {
    grid-column: 2/8; }
  footer .social {
    grid-column: 9/12;
    display: flex;
    justify-content: flex-end; }
    footer .social img {
      margin-left: 32px; }

/* Keyframe Animations */
@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.75); }
  100% {
    transform: scale(1); } }
@keyframes menu {
  from {
    top: -100vh; }
  to {
    top: -32px; } }
/* iPhone 6 */
@media only screen and (max-width: 475px) {
  .home-container header {
    max-height: 450px; }
    .home-container header h1 {
      font-size: 24px;
      line-height: 1;
      margin-top: 32px; }
    .home-container header p {
      font-size: 12px; }
    .home-container header h1, .home-container header p {
      width: 80%; }
    .home-container header nav {
      grid-column: 2/12; }
      .home-container header nav .logo {
        grid-column: 2/8;
        text-align: center;
        width: auto; }
    .home-container header .mobile-menu-icon {
      grid-column: 11;
      width: 30px;
      height: 30px;
      display: block;
      background: url("../img/svg/001-menu.svg") no-repeat center;
      -webkit-filter: invert(100%);
      justify-content: center; }
      .home-container header .mobile-menu-icon:hover {
        cursor: pointer; }
    .home-container header nav ul#menu-primary-menu {
      display: none; }
    .home-container header nav .mobile-menu-icon {
      display: block; }
    .home-container header nav ul#mobile-primary-menu {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background: #0055a5;
      position: absolute;
      overflow: hidden; }
      .home-container header nav ul#mobile-primary-menu.mobile-menu {
        top: calc(-100vh - 32px); }
        .home-container header nav ul#mobile-primary-menu.mobile-menu.is-open {
          animation: menu 0.375s ease-in forwards;
          top: 0px;
          position: fixed; }
          .home-container header nav ul#mobile-primary-menu.mobile-menu.is-open .close-btn {
            width: 24px;
            height: 24px;
            background: url("../img/svg/002-close.svg") no-repeat center;
            -webkit-filter: invert(100%);
            position: absolute;
            top: 90px;
            right: 40px; }
            .home-container header nav ul#mobile-primary-menu.mobile-menu.is-open .close-btn:hover {
              cursor: pointer; }
          .home-container header nav ul#mobile-primary-menu.mobile-menu.is-open li {
            list-style: none;
            padding: 8px 0px;
            width: 100%; }
            .home-container header nav ul#mobile-primary-menu.mobile-menu.is-open li a {
              font-family: "Open Sans", Arial, Helvetica, Geneva, sans-serif;
              font-size: 15px;
              color: #FFF;
              text-decoration: none;
              text-transform: uppercase; }

  .story-intro {
    padding: 16px 0px 0px; }
    .story-intro p {
      font-size: 14px;
      width: 80%; }

  .story-container.operations .story {
    width: 100%; }
    .story-container.operations .story:nth-child(4) {
      padding-bottom: 32px; }
  .story-container .story {
    border-right: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 32px; }
    .story-container .story .feature {
      flex: 1;
      justify-content: center;
      padding: 0px; }
      .story-container .story .feature p {
        font-weight: 300; }
      .story-container .story .feature img {
        max-width: 100%;
        width: auto; }
    .story-container .story article {
      flex: 3;
      text-align: left;
      padding: 0px 0px 0px 16px; }
      .story-container .story article h1 {
        font-size: 18px;
        padding-bottom: 0px; }
      .story-container .story article p {
        font-size: 11px; }
    .story-container .story:nth-child(odd) {
      grid-column: 1/13; }
    .story-container .story:nth-child(even) {
      grid-column: 1/13; }
    .story-container .story:nth-child(4) {
      grid-column: 1/13;
      padding-bottom: 0px; }
    .story-container .story:hover {
      background: none;
      cursor: default; }

  footer {
    max-height: none;
    padding: 24px 0px 8px; }
    footer .copyright {
      grid-column: 2/12;
      text-align: center; }
      footer .copyright p:first-of-type {
        margin-bottom: 16px; }
    footer .social {
      grid-column: 2/12;
      justify-content: center; }
      footer .social img {
        margin-left: 0px; } }

/*# sourceMappingURL=application.css.map */
