.home-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 16px;

    & header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        height: 600px;
        max-height: 600px;
        grid-column: 1/13;
        text-align: center;

        &.home {
            background:  url('../img/white-border-bottom.png') bottom left no-repeat, url('../img/home-page-banner.jpg') top center no-repeat;
            background-size: 100%, cover;
        }
        &.about {
            background:  url('../img/white-border-bottom.png') bottom left no-repeat, url('../img/about-page-banner.jpg') top center no-repeat;
            background-size: 100%, cover;
        }
        &.marketing {
            background:  url('../img/white-border-bottom.png') bottom left no-repeat, url('../img/marketing-page-banner.jpg') top center no-repeat;
            background-size: 100%, cover;
        }
        &.crime {
            background:  url('../img/white-border-bottom.png') bottom left no-repeat, url('../img/crime-page-banner.jpg') top center no-repeat;
            background-size: 100%, cover;
        }
        &.operations {
            background:  url('../img/white-border-bottom.png') bottom left no-repeat, url('../img/phone-page-banner.jpg') top center no-repeat;
            background-size: 100%, cover;
        }

        & h1, & p {
            color: #FFF;
            width: 50%;
            margin: 8px auto;
        }
        & p {
            line-height: 1.75;
            font-size: 15px;
        }

        & nav {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 16px;
            grid-column: 2 / span 12;
            align-items: center;
            top: 32px;
            position: absolute;
    
            & .logo {
                width: 200px;
                height: auto;
                grid-column: 2/4;
            }

            & #mobile-primary-menu {
                display: none;
            }

            & .mobile-menu-icon {
                display: none;
            }

            & ul#menu-primary-menu {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                margin: 0;
                grid-column: 4/12;
    
                & li {
                    width: auto;
                    margin: 0px 16px;
                    text-align: right;
                }
    
                & li:last-child {
                    margin: 0px 0px 0px 16px;
                }
    
                & li a {
                    color: #FFF;
                    font-family: $paragraph-font;
                    font-size: 14px;
                    font-weight: normal;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all 0.25s ease-in-out;
    
                    &:hover {
                        color: $light-grey;
                        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
                    }
                }
            }
        }
    }
}

.story-intro {
    grid-column: 1/13;
    padding-top: 0px;

    & p {
        font-family: $paragraph-font;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.25;
        color: #000;
        text-align: center;
        width: 70%;
        margin: 16px auto;
    }

    & p:first-of-type {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 24px;
        color: $grey;
    }
    & p:last-of-type {
        margin-bottom: 24px;
    }
}

.story-container {

    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 0px;
    padding: 32px 0px;

    &.operations {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        & .story {
            width: 33%;
            border-right: none;
        }
    }

    &.about {
        grid-template-columns: repeat(2, 50%);

        & .story {
            display: grid;
            width: 100%;
            border-right: none;
            grid-column: 1/4;

            & .feature {
                grid-column: 1;
                & img {
                    width: 100%;
                    height: auto;
                    max-width: 400px;
                }
            }
            & article {
                width: auto;
                grid-column: 2;
            }

            &:hover {
                & > .feature img {
                    animation: none;
                }
            }
        }
    }

    .story {

        text-align: center;
        border-right: 1px dashed $light-grey;
        background: #FFF;
        transition: background 0.25s ease-in;
        width: 100%;

        & .feature {
            order: 1;
            padding: 16px 0px;
        }

        & .feature img {
            width: 100px;
            height: 200px;
        }

        & article {
            order: 2;
            margin: 0px auto;
            grid-column: 7/12;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 16px 24px;

            & h1 {
                color: $grey;
                font-size: 21px;
                line-height: 1;
                padding-bottom: 8px;

                & a {
                    color: $blue;
                    text-decoration: none;
                }
            }
            & p {
                line-height: 1.5;
                font-size: 12px;
                font-weight: 400;
            }
        }
        &:nth-child(4) {
            border-right: none;
        }
        &:hover {
            & > .feature img {
                animation: pulse 2s ease-in-out infinite;
            }
        }
    }

}

footer {
    width: 100%;
    max-height: 100px;
    background: $blue;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    padding: 8px 0px;
    grid-column: 1/13;
    align-items: center;

    & p {
        color: #FFF;
        font-size: .75em;
        line-height: 1.5;
    }
    & .copyright {
        grid-column: 2/8;
    }
    & .social {
        grid-column: 9/12;
        display: flex;
        justify-content: flex-end;

        & img {
            margin-left: 32px;
        }
    }
}

/* Keyframe Animations */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes menu {
    from {
        top: -100vh;
    }
    to {
        top: -32px;
    }
}

/* iPhone 6 */
@media only screen and (max-width: 475px) {

    .home-container {

        & header {

            max-height: 450px;

            & h1 {
                font-size: 24px;
                line-height: 1;
                margin-top: 32px;
            }
            & p {
                font-size: 12px;
            }
            & h1, & p {
                width: 80%;
            }
            & nav {
                grid-column: 2/12;

                & .logo {
                    grid-column: 2/8;
                    text-align: center;
                    width: auto;
                }
            }
            
            & .mobile-menu-icon {
                grid-column: 11;
                width: 30px;
                height: 30px;
                display: block;
                background: url('../img/svg/001-menu.svg') no-repeat center;
                -webkit-filter: invert(100%);
                justify-content: center;

                &:hover {
                    cursor: pointer;
                }
            }

            & nav ul#menu-primary-menu {
                display: none;
            }

            & nav .mobile-menu-icon {
                display: block;
            }

            & nav ul#mobile-primary-menu {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
                height: 100vh;
                justify-content: center;
                align-items: center;
                background: $blue;
                position: absolute;
                overflow: hidden;

                &.mobile-menu {
                    top: calc(-100vh - 32px);

                    &.is-open {
                        animation: menu 0.375s ease-in forwards;
                        top: 0px;
                        position: fixed;

                        & .close-btn {
                            width: 24px;
                            height: 24px;
                            background: url('../img/svg/002-close.svg') no-repeat center;
                            -webkit-filter: invert(100%);
                            position: absolute;
                            top: 90px;
                            right: 40px;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        & li {
                            list-style: none;
                            padding: 8px 0px;
                            width: 100%;
        
                            & a {
                                font-family: $paragraph-font;
                                font-size: 15px;
                                color: #FFF;
                                text-decoration: none;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
    .story-intro {
        padding: 16px 0px 0px;

        & p {
            font-size: 14px;
            width: 80%;
        }
    }
    .story-container {

        &.operations {
            & .story {
                width: 100%;
                
                &:nth-child(4) {
                    padding-bottom: 32px;
                }
            }
        }

        .story {
            border-right: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 32px;

            & .feature {
                flex: 1;
                justify-content: center;
                padding: 0px;

                & p {
                    font-weight: 300;
                }
                & img {
                    max-width: 100%;
                    width: auto;
                }
            }
            & article {
                flex: 3;
                text-align: left;
                padding: 0px 0px 0px 16px;

                & h1 {
                    font-size: 18px;
                    padding-bottom: 0px;
                }
                & p {
                    font-size: 11px;
                }
            }

            &:nth-child(odd) {
                grid-column: 1/13;
            } 
            &:nth-child(even) {
                grid-column: 1/13;
            }
            &:nth-child(4) {
                grid-column: 1/13;
                padding-bottom: 0px;
            }
            &:hover {
                background: none;
                cursor: default;
            }
        }
    }

    footer {

        max-height: none;
        padding: 24px 0px 8px;

        & .copyright {
            grid-column: 2/12;
            text-align: center;

            & p:first-of-type {
                margin-bottom: 16px;
            }
        }
        & .social {
            grid-column: 2/12;
            justify-content: center;

            & img {
                margin-left: 0px;
            }
        }
    }

}