/* Colours */
$blue: #0055a5;
$light-blue: #1FAFDB;

$grey: #6a6a6a;
$light-grey: #cccccc;

$background-grey: #f4f5f9;

/* Fonts */
$heading-font: 'Rockwell W01', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
$paragraph-font: 'Open Sans', Arial, Helvetica, Geneva, sans-serif;